@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  background-color: rgb(190, 207, 233);
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}
.container-triangle {
  padding: 1.5rem;
  max-width: 700px;
  margin: auto;
}
.angleIn {
  font-size: 1.5rem;
  display: block;
  margin: 1rem, auto;
  text-align: center;
}
input {
  height: 1.75rem;
  border-radius: 0.4rem;
  background-color: transparent;
}

label {
  padding: 0.5rem;
  margin-left: 10rem auto;
}
#submit-btn {
  cursor: pointer;
  margin: 1rem auto;
  display: block;
  height: 2rem;
  text-align: center;
  border-bottom-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  width: 8rem;
  border: solid black 2px;
  font-size: large;
  color: black;
  font-weight: bold;
  background-color: #7c3aed;
  text-decoration: none;
}

.question-container {
  text-align: 3rem auto;
  font-size: 1.3rem;
  margin-left: 2rem;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.6rem;
}

.navigation {
  background-color: #7c3aed;
  padding: 0.2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.35rem;
}
.nav-brand {
  color: black;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: white;
}
.navigation .link-active {
  font-weight: bold;
  color: wheat;
}
#output {
  text-align: center;
  font-size: 2rem;
}
